// GOOGLE FONTS
// VARIABLES
// Colors
// primary colors
// neutral colors
// Typography
// font-family
// font-weight
// font-size
// Breakpoints
$mobile: 640px;
$tablet: 768px;
$xl_tablet: 960px;
$desktop: 1024px;
// RESET
// STYLES
