// GOOGLE FONTS
@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&display=swap");
// VARIABLES
// Colors
// primary colors
// neutral colors
// Typography
// font-family
// font-weight
// font-size
// Breakpoints
$mobile: 640px;
$tablet: 768px;
$xl_tablet: 960px;
$desktop: 1024px;
// RESET
// STYLES
