@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&display=swap");
html {
  box-sizing: border-box;
  font-size: 62.5%; /* 62.5% of 16px browser font size is 10px */
}

html,
body {
  width: 100%;
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  max-width: 100%;
}

img {
  display: block;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

p {
  line-height: 1.6;
}

body {
  display: grid;
  place-items: center;
  background-color: hsl(210deg, 46%, 95%);
  font-family: "Barlow Semi Condensed", sans-serif;
  font-size: 1.3rem;
}

main {
  width: 100%;
  max-width: 1440px;
  display: grid;
  grid-template-columns: 33rem;
  justify-content: center;
  gap: 2.5rem;
  padding-top: 7rem;
  padding-bottom: 7rem;
}
@media screen and (min-width: 640px) {
  main {
    grid-template-columns: 66rem;
  }
}
@media screen and (min-width: 1024px) {
  main {
    height: 100vh;
    padding: 16.5rem 9rem 16.5rem 9rem;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto;
  }
}

figure {
  border-radius: 8px;
  padding: 2.5rem 3rem 3.5rem 3rem;
}
figure blockquote {
  padding-top: 2rem;
  color: hsl(0deg, 0%, 81%);
  line-height: 1.6;
}
figure blockquote span {
  color: hsl(0deg, 0%, 100%);
  display: inline-block;
  margin-bottom: 2rem;
  font-size: 2.225rem;
  line-height: 1.2;
}
figure img {
  width: 3rem;
  border-radius: 50%;
  border: solid white 2px;
}

.flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1.5rem;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.violet figcaption,
.gray figcaption,
.blue figcaption {
  color: hsl(0deg, 0%, 100%);
}
.violet figcaption span,
.gray figcaption span,
.blue figcaption span {
  color: hsl(0deg, 0%, 81%);
}

.white figcaption,
.white2 figcaption {
  color: hsl(219deg, 29%, 14%);
}
.white figcaption span,
.white2 figcaption span {
  color: hsl(217deg, 19%, 35%);
}
.white blockquote,
.white2 blockquote {
  color: hsl(217deg, 19%, 35%);
}
.white blockquote span,
.white2 blockquote span {
  color: hsl(219deg, 29%, 14%);
}

.violet {
  position: relative;
  background-color: hsl(263deg, 55%, 52%);
  z-index: 100;
}
.violet .pattern {
  position: absolute;
  z-index: -100;
  background-image: url(../images/bg-pattern-quotation.svg);
  background-size: 10.5rem;
  background-repeat: no-repeat;
  background-position: 89% 0%;
  inset: 0;
}
.violet .quote1 {
  padding-right: 2.125rem;
}
@media screen and (min-width: 1024px) {
  .violet .quote1 {
    padding-right: 0rem;
  }
}
.violet img {
  border-color: #9269d3;
}
@media screen and (min-width: 1024px) {
  .violet {
    grid-column: 1/3;
  }
}

.gray {
  background-color: hsl(217deg, 19%, 35%);
}
@media screen and (min-width: 1024px) {
  .gray .headquote2 {
    max-width: 20rem;
  }
}
.gray .quote2 {
  padding-right: 0;
}
@media screen and (min-width: 1024px) {
  .gray .quote2 {
    max-width: 19rem;
  }
}
.gray img {
  border-color: hsl(0deg, 0%, 81%);
}

.white {
  background-color: hsl(0deg, 0%, 100%);
}
@media screen and (min-width: 1024px) {
  .white .headquote3 {
    max-width: 20rem;
  }
}
.white .quote3 {
  padding-right: 2rem;
}
@media screen and (min-width: 1024px) {
  .white .quote3 {
    grid-column: 1/2;
    grid-row: 2/3;
    padding-right: 0;
    max-width: 19rem;
  }
}

.blue {
  background-color: hsl(219deg, 29%, 14%);
}
@media screen and (min-width: 1024px) {
  .blue .headquote4 {
    max-width: 100%;
  }
}
.blue .quote4 {
  padding-right: 0.8rem;
  max-width: 46.5rem;
}
@media screen and (min-width: 1024px) {
  .blue .quote4 {
    max-width: 100%;
  }
}
.blue img {
  border-color: #9269d3;
}
@media screen and (min-width: 1024px) {
  .blue {
    grid-column: 2/4;
  }
}

.white2 {
  background-color: hsl(0deg, 0%, 100%);
}
@media screen and (min-width: 1024px) {
  .white2 .headquote5 {
    max-width: 20rem;
  }
}
.white2 .quote5 {
  padding-right: 0.8rem;
  max-width: 20.75rem;
}
@media screen and (min-width: 1024px) {
  .white2 .quote5 {
    max-width: 20rem;
  }
}
@media screen and (min-width: 1024px) {
  .white2 {
    grid-column: 4/5;
    grid-row: 1/3;
  }
}

/* footer {
    text-align: center;
  }
  *//*# sourceMappingURL=style.css.map */