// GOOGLE FONTS
@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&display=swap");
// VARIABLES
// Colors
// primary colors
$moderate_violet: hsl(263, 55%, 52%);
$light_violet: lighten($moderate_violet, 10%);
$very_dark_grayish_blue: hsl(217, 19%, 35%);
$very_dark_blackish_blue: hsl(219, 29%, 14%);
$white: hsl(0, 0%, 100%);
// neutral colors
$light_gray: hsl(0, 0%, 81%);
$light_grayish_blue: hsl(210, 46%, 95%);
// Typography
// font-family
$ff: "Barlow Semi Condensed", sans-serif;
// font-weight
$fw_medium: 500;
$fw_semiBold: 600;
// font-size
$fs_bodyCopy: 1.3rem;
// Breakpoints
$mobile: 640px;
$tablet: 768px;
$xl_tablet: 960px;
$desktop: 1024px;
// RESET
html {
  box-sizing: border-box;
  font-size: 62.5%; /* 62.5% of 16px browser font size is 10px */
}

html,
body {
  width: 100%;
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  max-width: 100%;
}

img {
  display: block;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

p {
  line-height: 1.6;
}

// STYLES
body {
  display: grid;
  place-items: center;
  background-color: $light_grayish_blue;
  font-family: $ff;
  font-size: $fs_bodyCopy;
}
main {
  width: 100%;
  max-width: 1440px;
  display: grid;
  grid-template-columns: 33rem;
  justify-content: center;
  gap: 2.5rem;
  padding-top: 7rem;
  padding-bottom: 7rem;
  @media screen and (min-width: $mobile) {
    grid-template-columns: 66rem;
  }
  @media screen and (min-width: $desktop) {
    height: 100vh;
    padding: 16.5rem 9rem 16.5rem 9rem;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto;
  }
}
figure {
  border-radius: 8px;
  padding: 2.5rem 3rem 3.5rem 3rem;
  blockquote {
    padding-top: 2rem;
  }
  img {
    width: 3rem;
    border-radius: 50%;
    border: solid white 2px;
  }
}

.flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1.5rem;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.violet,
.gray,
.blue {
  figcaption {
    color: $white;
    span {
      color: $light_gray;
    }
  }
}

.white,
.white2 {
  figcaption {
    color: $very_dark_blackish_blue;
    span {
      color: $very_dark_grayish_blue;
    }
  }
}

.violet {
  background-color: $moderate_violet;
  img {
    border-color: $light_violet;
  }
  @media screen and (min-width: $desktop) {
    // start / end
    grid-column: 1 / 3;
  }
}

.gray {
  background-color: $very_dark_grayish_blue;
  img {
    border-color: $light_gray;
  }
}

.white {
  background-color: $white;
  @media screen and (min-width: $desktop) {
    // start / end
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }
}

.blue {
  background-color: $very_dark_blackish_blue;
  img {
    border-color: $light_violet;
  }
  @media screen and (min-width: $desktop) {
    // start / end
    grid-column: 2 / 4;
  }
}

.white2 {
  background-color: $white;
  @media screen and (min-width: $desktop) {
    // start / end
    grid-column: 4 / 5;
    grid-row: 1 / 3;
  }
}

footer {
  text-align: center;
}
